In [2]:
P = download("https://raw.githubusercontent.com/nassarhuda/easy_data/master/programming_languages.csv",
    "programminglanguages.csv")

"programminglanguages.csv"

In [3]:
using CSV

In [4]:
using DelimitedFiles

In [5]:
P, h = readdlm("programminglanguages.csv", ',', header = true);

In [6]:
h

1×2 Array{AbstractString,2}:
 "year"  "language"

In [7]:
df = CSV.read("programminglanguages.csv")

73×2 DataFrame
│ Row │ year  │ language                   │
│     │ Int64 │ String                     │
├─────┼───────┼────────────────────────────┤
│ 1   │ 1951  │ Regional Assembly Language │
│ 2   │ 1952  │ Autocode                   │
│ 3   │ 1954  │ IPL                        │
│ 4   │ 1955  │ FLOW-MATIC                 │
│ 5   │ 1957  │ FORTRAN                    │
│ 6   │ 1957  │ COMTRAN                    │
│ 7   │ 1958  │ LISP                       │
│ 8   │ 1958  │ ALGOL 58                   │
│ 9   │ 1959  │ FACT                       │
│ 10  │ 1959  │ COBOL                      │
⋮
│ 63  │ 2005  │ F#                         │
│ 64  │ 2006  │ PowerShell                 │
│ 65  │ 2007  │ Clojure                    │
│ 66  │ 2009  │ Go                         │
│ 67  │ 2010  │ Rust                       │
│ 68  │ 2011  │ Dart                       │
│ 69  │ 2011  │ Kotlin                     │
│ 70  │ 2011  │ Red                        │
│ 71  │ 2011  │ Elixir                     │
│ 72  │ 2012  │ Julia                      │
│ 73  │ 2014  │ Swift                      │

In [22]:
df = CSV.read("programminglanguages.csv");

In [23]:
typeof(df)

DataFrames.DataFrame

In [24]:
df.year

73-element Array{Int64,1}:
 1951
 1952
 1954
 1955
 1957
 1957
 1958
 1958
 1959
 1959
 1959
 1962
 1962
    ⋮
 2003
 2005
 2006
 2007
 2009
 2010
 2011
 2011
 2011
 2011
 2012
 2014

In [26]:
names(df)

2-element Array{String,1}:
 "year"
 "language"

In [8]:
using DataFrames
describe(df)

2×8 DataFrame. Omitted printing of 2 columns
│ Row │ variable │ mean    │ min      │ median │ max       │ nunique │
│     │ Symbol   │ Union…  │ Any      │ Union… │ Any       │ Union…  │
├─────┼──────────┼─────────┼──────────┼────────┼───────────┼─────────┤
│ 1   │ year     │ 1982.99 │ 1951     │ 1986.0 │ 2014      │         │
│ 2   │ language │         │ ALGOL 58 │        │ dBase III │ 73      │

In [30]:
using XLSX
xlxs_df = XLSX.readdata("zillow_data_download_april2020.xlsx")

LoadError: ArgumentError: Package XLSX not found in current path:
- Run `import Pkg; Pkg.add("XLSX")` to install the XLSX package.

In [32]:
DataFrame(df)

73×2 DataFrame
│ Row │ year  │ language                   │
│     │ Int64 │ String                     │
├─────┼───────┼────────────────────────────┤
│ 1   │ 1951  │ Regional Assembly Language │
│ 2   │ 1952  │ Autocode                   │
│ 3   │ 1954  │ IPL                        │
│ 4   │ 1955  │ FLOW-MATIC                 │
│ 5   │ 1957  │ FORTRAN                    │
│ 6   │ 1957  │ COMTRAN                    │
│ 7   │ 1958  │ LISP                       │
│ 8   │ 1958  │ ALGOL 58                   │
│ 9   │ 1959  │ FACT                       │
│ 10  │ 1959  │ COBOL                      │
⋮
│ 63  │ 2005  │ F#                         │
│ 64  │ 2006  │ PowerShell                 │
│ 65  │ 2007  │ Clojure                    │
│ 66  │ 2009  │ Go                         │
│ 67  │ 2010  │ Rust                       │
│ 68  │ 2011  │ Dart                       │
│ 69  │ 2011  │ Kotlin                     │
│ 70  │ 2011  │ Red                        │
│ 71  │ 2011  │ Elixir                     │
│ 72  │ 2012  │ Julia                      │
│ 73  │ 2014  │ Swift                      │

In [33]:
fruits = ["apple", "Banana", "Papaya", "Guava"]
price = [1, 2, 2, 3]
calories = [120, 122, 73, 26]
df_cal = DataFrame(item = fruits, calories = calories)
df_price = DataFrame(item = fruits, price = price)

4×2 DataFrame
│ Row │ item   │ price │
│     │ String │ Int64 │
├─────┼────────┼───────┤
│ 1   │ apple  │ 1     │
│ 2   │ Banana │ 2     │
│ 3   │ Papaya │ 2     │
│ 4   │ Guava  │ 3     │

In [35]:
Dataframe = join(df_cal, df_price, on=:item)

4×3 DataFrame
│ Row │ item   │ calories │ price │
│     │ String │ Int64    │ Int64 │
├─────┼────────┼──────────┼───────┤
│ 1   │ apple  │ 120      │ 1     │
│ 2   │ Banana │ 122      │ 2     │
│ 3   │ Papaya │ 73       │ 2     │
│ 4   │ Guava  │ 26       │ 3     │

In [36]:
Dataframe

4×3 DataFrame
│ Row │ item   │ calories │ price │
│     │ String │ Int64    │ Int64 │
├─────┼────────┼──────────┼───────┤
│ 1   │ apple  │ 120      │ 1     │
│ 2   │ Banana │ 122      │ 2     │
│ 3   │ Papaya │ 73       │ 2     │
│ 4   │ Guava  │ 26       │ 3     │

In [12]:
function year_created(P, language::String)
    loc = findfirst(P[:, 2] .== language)
    return P[loc: 1]
end
year_created(P, "Julia")

Any[]

In [13]:
function how_many_in_year(P, year::Int64)
    year_count = length(findall(P[:, 1] .== year))
    return year_count
end
how_many_in_year(P, 2011)

4

In [15]:
P_df = c

LoadError: UndefVarError: c not defined

In [16]:
Dict([("A", 1), ("B", 2), ("c", [1, 2])])

Dict{String,Any} with 3 entries:
  "B" => 2
  "A" => 1
  "c" => [1, 2]

In [17]:
P_Dict = Dict()

Dict{Any,Any}()

In [18]:
P_Dict[1] = "Number"

"Number"

In [19]:
P_Dict

Dict{Any,Any} with 1 entry:
  1 => "Number"

In [24]:
P_Dict_1 = Dict("Name"=> 1, "Name_2" => 2, "NAme_3" => 3)

Dict{String,Int64} with 3 entries:
  "NAme_3" => 3
  "Name_2" => 2
  "Name"   => 1

In [25]:
P[1, 1] = missing
p_df = DataFrame(year=P[:, 1], language=P[:, 2])

73×2 DataFrame
│ Row │ year    │ language                   │
│     │ Any     │ Any                        │
├─────┼─────────┼────────────────────────────┤
│ 1   │ missing │ Regional Assembly Language │
│ 2   │ 1952    │ Autocode                   │
│ 3   │ 1954    │ IPL                        │
│ 4   │ 1955    │ FLOW-MATIC                 │
│ 5   │ 1957    │ FORTRAN                    │
│ 6   │ 1957    │ COMTRAN                    │
│ 7   │ 1958    │ LISP                       │
│ 8   │ 1958    │ ALGOL 58                   │
│ 9   │ 1959    │ FACT                       │
│ 10  │ 1959    │ COBOL                      │
⋮
│ 63  │ 2005    │ F#                         │
│ 64  │ 2006    │ PowerShell                 │
│ 65  │ 2007    │ Clojure                    │
│ 66  │ 2009    │ Go                         │
│ 67  │ 2010    │ Rust                       │
│ 68  │ 2011    │ Dart                       │
│ 69  │ 2011    │ Kotlin                     │
│ 70  │ 2011    │ Red                        │
│ 71  │ 2011    │ Elixir                     │
│ 72  │ 2012    │ Julia                      │
│ 73  │ 2014    │ Swift                      │

In [26]:
dropmissing(p_df)

72×2 DataFrame
│ Row │ year │ language   │
│     │ Any  │ Any        │
├─────┼──────┼────────────┤
│ 1   │ 1952 │ Autocode   │
│ 2   │ 1954 │ IPL        │
│ 3   │ 1955 │ FLOW-MATIC │
│ 4   │ 1957 │ FORTRAN    │
│ 5   │ 1957 │ COMTRAN    │
│ 6   │ 1958 │ LISP       │
│ 7   │ 1958 │ ALGOL 58   │
│ 8   │ 1959 │ FACT       │
│ 9   │ 1959 │ COBOL      │
│ 10  │ 1959 │ RPG        │
⋮
│ 62  │ 2005 │ F#         │
│ 63  │ 2006 │ PowerShell │
│ 64  │ 2007 │ Clojure    │
│ 65  │ 2009 │ Go         │
│ 66  │ 2010 │ Rust       │
│ 67  │ 2011 │ Dart       │
│ 68  │ 2011 │ Kotlin     │
│ 69  │ 2011 │ Red        │
│ 70  │ 2011 │ Elixir     │
│ 71  │ 2012 │ Julia      │
│ 72  │ 2014 │ Swift      │